<% include partials/header.ejs %>
  
<div class="container mt-5">
  <h1 class="mb-5">Home</h1>
  <p><%= homeContent %></p>

  <% if(posts.length !== 0) { %>
  <div class="mt-5 d-flex flex-row align-items-center justify-content-between">
    <h1>Posts</h1>
    <form action="/clearPosts" method="post">
      <button class="btn btn-outline-dark clearPosts" type="submit">Clear All Posts</button>
    </form>
  </div>
  <hr class="mt-0 mb-4">
  <% } %>

  <% posts.forEach(function(post) { %>
    <div class="post">
      <h3><%= post.title %></h3>
      <p class="lead"><%= post.content %></p>
    </div>
  <% }); %>
</div><!-- /container -->
  
<% include partials/footer.ejs %>

