<% include partials/header.ejs %>
  
<div class="container mt-5">
  <h1>Post</h1>
  <hr>

  <div class="post my-5">
    <h3><%= foundPost.title %></h3>
    <p class="lead"><%= foundPost.content %></p>
  </div>

  <hr>
  <a class="btn btn-outline-dark" href="/">Back</a>
</div><!-- /container -->
  
<% include partials/footer.ejs %>

