body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.my-btn {
    background: #1ABC9C;
    color: #fff;
    transition: background .3s;
}

.my-btn:hover {
    background: rgb(32, 153, 129);
}

.footer {
    text-align: center;
    margin-top: auto;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
    margin-top: 25px;
	font-size: 12px;
    color: #fff;
}
